
/* 联系我们的样式*/
.contact {
    width: 1200px;
    margin: 0 auto;
    font-weight: bold;
}
.title {
    height: 32px;
    padding-left: 16px;
    font: bold 16px/32px 'simsun';
    background: #1c4987;
    color: #FFFFFF;
}
.infoBox {
    width: 300px;
    margin: 10px auto;
}
.companyName {
    padding-left: 2rem;
    font: bold 18px/50px PingFang SC Regular, simsun, sans-serif;
    color: #555;
}
.infoOption {
    padding-left: 2rem;
    font: normal 14px/20px PingFang SC Regular, simhei, simsun, sans-serif;
    color: #555;
}


